@charset "utf-8";

/* * {  /* box-sizing: border-box; *}/
/* 공통 사용  */
body {
  background-color: #fff;
  color: #000;
}

/* 컨테이너 필요한거만 사용*/
/*
.container {
  max-width: 1440px; /* 최대 컨테이너 너비 
  width: 100%; /* 100% 너비를 사용하여 반응형 구현 
  padding: 0 50px; /* 양 옆 50px 패딩 
  box-sizing: border-box;
  margin: 0 auto; /* 가운데 정렬 
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12개의 칼럼 생성 
  gap: 24px; /* 칼럼 간의 간격 24px 
}
*/
.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}

#product_grid {
  grid-column: span 9; /* 9개의 칼럼을 차지  /-------  container 기준 */
  height: fit-content; /* 내용에 맞게 높이를 조절 */
  display: grid; /* 그리드 레이아웃 설정  /-------------- 자식 요소 그리드 설정 */
  grid-template-columns: repeat(3, 1fr); /* 내부 3개의 칼럼 설정 */
  gap: 24px; /* 칼럼 간의 간격 24px */
  grid-auto-rows: auto; /* 자동으로 높이 설정 */
  justify-items: center; /* 그리드 아이템을 가로 중앙 정렬 */
}

/* ------------------------------------------------------------- */

/* 메인 */
#main {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/* 메인 상단 */
#main_top {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  height: 635px;
  position: relative;
  background-image: url("../img/sub3/img_box1.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s ease-in-out;
}

#main_top #main_top_grid {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
  transition: 1s ease-in-out;
}
#main_top #img_box {
  width: 64px;
  height: 224px;
  z-index: 50;
  grid-column: span 1;
  margin-top: 25px;
  transition: 1s ease-in-out;
}
#main_top #img_box > ul {
  width: 100%;
  height: 100%;
}
#main_top #img_box > ul > li {
  margin-bottom: 16px;
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid #ddd;
}
#main_top #img_box > ul > li:nth-child(1) {
  background-image: url("../img/sub3/img_box1.png");
  background-size: cover;
  background-position: -45px 0;
  background-repeat: no-repeat;
}
#main_top #img_box > ul > li:nth-child(2) {
  background-image: url("../img/sub3/img_box2.png");
  background-size: cover;
  background-position: -45px 0;
  background-repeat: no-repeat;
}
#main_top #img_box > ul > li:nth-child(3) {
  background-image: url("../img/sub3/img_box3.png");
  background-size: cover;
  background-position: -45px 0;
  background-repeat: no-repeat;
}
#main_top #img_box > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
}

/* 이미지 호버시 이미지 확대 박스 보이기 */
.img_zoom_box {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 1px solid #ddd;
  background-repeat: no-repeat;
  background-size: 200% 200%; /* 원본 이미지의 확대 비율 */
  pointer-events: none;
  display: none;
}

/* 구매페이지 */
#main_top #purchase {
  width: 100%;
  min-width: 360px;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  padding: 32px 24px;
  box-sizing: border-box;
  margin-top: 25px;
  grid-column-start: 9;
  grid-column-end: 13;
  transition: 0.1s ease-in-out;
}

/* 구매페이지의 상단 */
#main_top #purchase .purchase_top {
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid #eee;
}

#main_top #purchase .purchase_top .button {
  display: flex;
  justify-content: space-between;
  font-size: 0.75em;
  text-align: center;
}
#main_top #purchase .purchase_top .button p {
  width: 52px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  background-color: #f29393;
  border-radius: 5px;
}
#main_top #purchase .purchase_top .button button {
  padding: 4px 12px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 0.8em;
  color: #666;
}
#main_top #purchase .purchase_top .button button > a {
  display: flex;
  align-items: center;
}
#main_top #purchase .purchase_top .button button > a > img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin: 0px 4px 0 2px;
}
#main_top #purchase .purchase_top .button button > a > span {
  line-height: 29px;
  font-size: 1em;
}

#main_top #purchase .purchase_top .text {
  width: 100%;
  height: fit-content;
}
#main_top #purchase .purchase_top .text > img {
  width: 106px;
  object-fit: cover;
  margin-bottom: 4px;
}
#main_top #purchase .purchase_top .text h1 {
  color: #333;
  font-size: 1.25em;
  margin-bottom: 10px;
}
#main_top #purchase .purchase_top .text > span {
  font-size: 0.75em;
  color: #9e9b9b;
}
#main_top #purchase .purchase_top .text p {
  width: auto;
  height: 16px;
  letter-spacing: -0.03em;
  display: flex;
  float: right;
}
#main_top #purchase .purchase_top .text p > img {
  width: 16px;
  object-fit: cover;
}
#main_top #purchase .purchase_top .text p > span {
  font-size: 0.75em;
  color: #9e9b9b;
  line-height: 18px;
  margin-left: 5px;
}

#main_top #purchase .purchase_top .price {
  margin: 16px 0;
  color: #522a86;
  font-size: 1.5em;
  letter-spacing: 0.03em;
}
#main_top #purchase .purchase_top .price > span {
  font-size: 0.8em;
}

#main_top #purchase .purchase_top .color {
  width: 100%;
  height: 60px;
  margin-bottom: 12px;
}
#main_top #purchase .purchase_top .color p {
  font-size: 0.81em;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}
#main_top #purchase .purchase_top .color a {
  width: 103px;
  height: 30px;
  margin-right: 8px;
  padding: 0 7px;
  box-sizing: border-box;
  float: left;
  display: flex;
  justify-content: space-between;
}
#main_top #purchase .purchase_top .color a:hover {
  opacity: 0.6;
}
#main_top #purchase .purchase_top .color a > img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
#main_top #purchase .purchase_top .color a > span {
  font-size: 0.81em;
  color: #333;
  line-height: 30px;
}

/* 구매페이지의 하단 */
#main_top #purchase .purchase_bottom {
  margin: 0 auto;
  width: 100%;
  height: 359px;
}

#main_top #purchase .purchase_bottom .event {
  width: 100%;
  height: 49px;
  border: 1.5px solid #522a86;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  box-sizing: border-box;
  margin-bottom: 16px;
}
#main_top #purchase .purchase_bottom .event .left {
  width: 16px;
  height: 16px;
  object-fit: cover;
  margin: 3px 5px 0 0;
}
#main_top #purchase .purchase_bottom .event .text {
  width: 300px;
  height: 25px;
}
#main_top #purchase .purchase_bottom .event .text h3 {
  font-size: 0.75em;
  color: #333;
  margin-bottom: 3px;
}
#main_top #purchase .purchase_bottom .event .text h3 > span {
  color: #522a86;
}
#main_top #purchase .purchase_bottom .event .text p {
  font-size: 0.7em;
  color: #333;
}
#main_top #purchase .purchase_bottom .event .right {
  height: 12px;
  object-fit: cover;
  margin-top: 5px;
}

#main_top #purchase .purchase_bottom .infor {
  width: 100%;
  margin-bottom: 24px;
}
#main_top #purchase .purchase_bottom .infor > div {
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}
#main_top #purchase .purchase_bottom .infor > div > a {
  font-size: 1em;
  color: #333;
  font-weight: 600;
}
#main_top #purchase .purchase_bottom .infor > div > .text {
  text-align: right;
  letter-spacing: -0.02em;
}
#main_top #purchase .purchase_bottom .infor > div > .text > article {
  display: flex;
}
#main_top #purchase .purchase_bottom .infor > div > .text > article > p {
  font-size: 1em;
  color: #333;
  margin-right: 8px;
}
#main_top #purchase .purchase_bottom .infor > div > .text > article > a {
  font-size: 0.75em;
  font-weight: 600;
  color: #522a86;
  text-decoration: underline;
  margin: 2px;
}
#main_top #purchase .purchase_bottom .infor > div > .text > article > a > img {
  height: 7px;
  margin-left: 5px;
}
#main_top #purchase .purchase_bottom .infor > div > .text > span {
  font-size: 0.75em;
  color: #9e9b9b;
}

#main_top #purchase .purchase_bottom .button {
  width: 100%;
  height: 56px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 10px;
  margin-bottom: 24px;
  box-sizing: border-box;
  padding: 0;
}
#main_top #purchase .purchase_bottom .button a {
  width: 100%;
  height: 100%;
  display: block;
}
#main_top #purchase .purchase_bottom .button .gift {
  width: 56px;
  height: 56px;
  grid-column: span 1;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  cursor: pointer;
}
#main_top #purchase .purchase_bottom .button .gift img {
  margin: 15px;
}
#main_top #purchase .purchase_bottom .button .pur {
  width: 100%;
  height: 56px;
  grid-column: span 4;
  font-size: 1em;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  line-height: 54px;
  font-weight: 600;
}
#main_top #purchase .purchase_bottom .button .basket {
  width: 100%;
  height: 56px;
  grid-column: span 4;
  font-size: 1em;
  border-radius: 10px;
  background-color: #333;
  border: none;
  color: #fff;
  line-height: 54px;
  font-weight: 600;
}

#main_top #purchase .purchase_bottom .last {
  font-size: 0.69em;
  color: #333;
  line-height: 15px;
}

/* 구매 혜택 */
#benefits {
  width: 100%;
  max-width: 1920px;
  margin: 100px auto 0 auto;
  box-sizing: border-box;
  height: fit-content;
  padding: 40px 0;
  background-color: #f1f1f1;
}
#benefits > div {
  max-width: 1440px;
  width: 100%;
  height: fit-content;
  padding: 0 50px;
  box-sizing: border-box;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}
#benefits > div > h1 {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 2em;
  font-weight: 800;
  color: #333;
  grid-column: span 12;
}
#benefits > div .box {
  height: 157px;
  box-sizing: border-box;
  padding: 32.5px 40px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  grid-column: span 6;
  position: relative;
}
#benefits > div .box .text {
  width: 75%;
  position: relative;
  margin-top: 5px;
}
#benefits > div .box .text .no1 {
  font-weight: 600;
}
#benefits > div .box .text .no2 {
  color: #9e9b9b;
}
#benefits > div .box .text .no3 {
  border-bottom: 1px solid #9e9b9b;
}
#benefits > div .box .text h1 {
  font-size: 1em;
  margin-bottom: 16px;
  letter-spacing: 0.03em;
}
#benefits > div .box .text p {
  font-size: 0.75em;
  line-height: 20px;
  letter-spacing: 0.02em;
  position: absolute;
  bottom: 0;
}
#benefits > div .box img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-top: 5px;
}

/* 메인하단 */
#main_bottom {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}
#main_bottom_grid {
  grid-column: span 9;
  box-sizing: border-box;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 24px;
  grid-auto-rows: auto;
  justify-items: center;
  position: relative;
}

/* 메인하단 탑메뉴 */
#main_bottom #top_menu {
  width: 100%;
  height: 90px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  grid-column: span 9;
  font-size: 1.13em;
  overflow: hidden;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}
#main_bottom #top_menu > ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  z-index: 100;
}
#main_bottom #top_menu > ul > li {
  width: 25%;
  height: 100%;
  text-align: center;
  line-height: 95px;
  color: #333;
  transition: 0.2s ease;
  z-index: 100;
}
#main_bottom #top_menu > ul > li:hover {
  background-color: #333333;
  color: #fff;
}
#main_bottom #top_menu > ul > li > a {
  display: block;
}
#main_bottom #top_menu > ul > li > a > span {
  font-size: 0.81em;
  color: #9e9b9b;
}

/* 고정 영역 */
#fix_area {
  width: 100%;
  min-width: 258px;
  height: fit-content;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 24px;
  z-index: 100;
  background-color: #fff;
  grid-column: span 3;
  position: sticky;
  top: 0;
}
#fix_area .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#fix_area .top .text {
  margin-bottom: 16px;
}
#fix_area .top .text > h1 {
  font-size: 1em;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #333;
  margin-bottom: 6px;
  white-space: pre-line;
}
#fix_area .top .text > p {
  font-size: 0.75em;
  color: #9e9b9b;
}
#fix_area .top img {
  width: 16px;
  height: 16px;
  object-fit: cover;
  padding: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
}

#fix_area .color {
  font-size: 0.81em;
  color: #333;
  font-weight: 600;
  margin-bottom: 16px;
}
#fix_area .color > span {
  font-weight: 400;
  float: right;
}

#fix_area .price {
  height: 40px;
  font-size: 1.5em;
  font-weight: 600;
  color: #522a86;
  border-bottom: 1px solid #eee;
  margin-bottom: 16px;
  letter-spacing: 0.03em;
}
#fix_area .price > span {
  font-size: 0.7em;
}

#fix_area button {
  width: 100%;
  height: 56px;
  font-size: 1em;
  line-height: 52px;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
}
#fix_area button > a {
  display: block;
  width: 100%;
  height: 56px;
}

/* 상세 이미지 */
#product_img {
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 60px;
  grid-column: span 9;
}
#product_img .video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 40px;
  background-color: #999;
}
#product_img .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* #product_img .img {
  height: fit-content;
  padding-top: 0;
  position: static;
}
#product_img .img .img_wrap { 
  height: fit-content; 
  position: static;
} */
#product_img .img {
  width: 100%;
  height: 0;
  padding-top: 112%;
  position: relative;
  overflow: hidden;
}
#product_img .img .img_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#product_img .img img {
  width: 100%;
  object-fit: cover;
  z-index: 10;
}

#product_img .button {
  position: absolute;
  bottom: -40px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}
#product_img .button button {
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #333;
  background-color: #fff;
  box-shadow: 0 0 80px 100px #fff;
  border: 1px solid #999;
  border-radius: 5px;
  z-index: 50;
  cursor: pointer;
  font-size: 1.13em;
}

/* 스타일링 */
#style {
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 27px;
  margin-bottom: 40px;
  grid-column: span 9;
}
#style .box {
  width: 100%;
  height: 382px;
  background-color: #f5f5f5;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 80;
}
#style > h1 {
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 25px;
  margin: 60px auto;
  z-index: 90;
}
#style h1 > span {
  font-weight: 600;
  border-bottom: 2px solid #777;
}

#style #style_box_wrap {
  width: 100%;
  z-index: 90;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 24px;
}
#style .style_box {
  width: 100%;
  height: fit-content;
  position: relative;
  grid-column: span 4;
}
#style .style_box img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}
#style .style_box .play {
  width: 66px;
  height: 66px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  position: absolute;
  right: 28px;
  top: 28px;
}
#style .style_box .play > img {
  width: 14px;
  height: 18px;
  object-fit: cover;
  margin: 24px 0 0 27px;
  opacity: 0.5;
}
#style .style_box .text {
  padding: 10px;
  height: fit-content;
  background-color: #fff;
}
#style .style_box .text > h1 {
  font-size: 1.25em;
  font-weight: 400;
  margin: 16px 0;
}
#style .style_box .text > p {
  font-size: 0.88em;
  line-height: 1.25em;
}

/* 평점 */
#review {
  width: 100%;
  height: fit-content;
  margin: 50px 0;
  position: relative;
  color: #333;
  padding-top: 10px;
  grid-column: span 9;
  background-color: #ffffff;
}
#review > a {
  position: absolute;
  right: 24px;
  top: 40px;
  color: #fff;
  background-color: #333;
  width: 149px;
  height: 56px;
  text-align: center;
  line-height: 58px;
  border-radius: 10px;
}
#review > .text {
  width: 33%;
  height: fit-content;
  margin: 24px auto;
  padding: 10px 0;
  text-align: center;
}
#review > .text > p {
  font-size: 1em;
  font-weight: 500;
}
#review > .text > h1 {
  font-size: 3em;
  color: #333;
  margin: 8px 0;
}
#review > .text > h1 > span {
  font-size: 0.5em;
}
#review > .text > .img {
  width: 116px;
  margin: 0 auto;
  margin-bottom: 9px;
  display: flex;
  justify-content: space-between;
}
#review > .text > .img > img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
#review > .text > span {
  font-size: 0.88em;
  font-weight: 500;
}
#review > .review_box {
  width: 100%;
  height: 214px;
  border: 1px solid #eee;
  box-sizing: border-box;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 24px;
}
#review > .review_box .text {
  grid-column: span 7;
  width: 100%;
  height: 165px;
}
#review > .review_box .text > p {
  margin-bottom: 12px;
}
#review > .review_box .text > p > span {
  float: right;
}
#review > .review_box .text > .img {
  margin-bottom: 12px;
}
#review > .review_box .text > .img > img {
  width: 16px;
  object-fit: cover;
}
#review > .review_box .text > .contents {
  width: 100%;
  height: 105px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}
#review > .review_box .text > .contents > h5 {
  font-size: 1.25em;
  letter-spacing: 0.04em;
  margin-bottom: 35px;
}
#review > .review_box .text > .contents > p {
  width: 100%;
  height: 50px;
  letter-spacing: 0.02em;
  line-height: 25px;
}
#review > .review_box > img {
  grid-column: span 2;
  width: 192px;
  height: 165px;
  object-fit: cover;
}

#review > button {
  width: 100%;
  height: 56px;
  margin: 40px 0;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1em;
}

/* 질문 */
#question {
  width: 100%;
  height: fit-content;
  margin: 50px 0 100px 0;
  grid-column: span 9;
}
#question .box {
  width: 100%;
}
#question .box .button {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: #fff;
}
#question .box .button h1 {
  padding: 25px 24px;
  font-size: 1.25em;
  font-weight: 400;
}
#question .box .button img {
  height: 32px;
  object-fit: cover;
  padding: 19px 24px;
}
#question .box p {
  width: 100%;
  background-color: #f1f1f1;
  box-sizing: border-box;
  padding: 24px 63px;
  line-height: 28px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* 주문 & 배송 안내 */
#information {
  width: 100%;
  height: fit-content;
  padding: 32px 24px;
  margin: 20px 0;
  box-sizing: border-box;
  grid-column: span 9;
  background-color: #fff;
}
#information .box {
  width: 100%;
  padding: 32px 24px;
  box-sizing: border-box;
  border: 1px solid #eee;
  border-radius: 10px;
  margin-bottom: 24px;
}
#information > .box ul {
  background-color: #fff;
}
#information .box h1 {
  font-size: 1.13em;
  margin-bottom: 24px;
  width: 100%;
}
#information .box h1 > span {
  font-size: 0.75em;
  color: #9e9b9b;
}
#information .box .h1_ul {
  list-style: disc;
  margin-left: 24px;
  line-height: 24px;
}
#information .box h3 {
  font-size: 1em;
  margin: 20px 0;
}
#information .box .h3_ul {
  list-style: disc;
  margin-left: 32px;
  line-height: 24px;
}
#information .box p {
  line-height: 24px;
}
#information .box .underline {
  text-decoration: underline;
}
#information .box .color {
  color: #3f3f3f;
}

/* 제품 정보 */
#product_infor {
  width: 100%;
  padding: 20px 24px;
  box-sizing: border-box;
  margin: 20px 0;
  background-color: #fff;
  grid-column: span 9;
}
#product_infor table,
tr,
th {
  border: 1px solid #eee;
  text-align: left;
  padding: 15px;
  font-size: 0.88em;
  font-weight: 400;
}
#product_infor table {
  width: 100%;
}
